TMMTTextShapeLayerTest.xcodeproj/project.xcworkspace/xcuserdata/will.xcuserdatad/WorkspaceSettings.xcsettings
TMMTTextShapeLayerTest.xcodeproj/xcuserdata/will.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TMMTTextShapeLayerTest.xcodeproj/xcuserdata/will.xcuserdatad/xcschemes/CATextShapeLayerTest.xcscheme
TMMTTextShapeLayerTest.xcodeproj/xcuserdata/will.xcuserdatad/xcschemes/xcschememanagement.plist
